body{
    background-color:#2B3856;
    margin: 0;
    background-size:cover;
}
/* nav bar style that contain logo as img, h1 and div that contain 3 buttons */
/* the img in the left side and the title in the middle at the left put the div that contain 3 buttons  */
#divContent{
    margin-top: 100px;
    display: grid;
    text-align: center;
    justify-items: center;
}
#naveBar{
    background-color:#151B54;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
}
/* #naveBar img:hover{ 
    border: white 3px solid;
    width: 200px;
    height: 200px;
} */
#naveBar img{
    float: left;
    width: 120px;
    height: 100px;
    margin-left:10px;
    border-radius: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#naveBar h1{
    float: left;
    color: aliceblue;
    margin-left: 500px;
    margin-top: 30px;
    font-size: 40px;
}
#naveBar h1:hover{
    color: black;
}
#naveBar div{
    float: right;
    margin-top: 30px;
    margin-right: 100px;

}

#naveBar div button{
    background-color:rgb(252, 251, 251);
    border: black 3px solid;
    border-radius: 10px;
 
    font-size: 25px;
    margin-right: 10px;
    /*display: list-item;
     */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  #naveBar div button:hover{
  background-color: black;
 color: white; 
}


#gridMain{
    display: grid;
 grid-template-columns: auto auto auto auto;
        grid-gap: 20px;   /* المسافات بين الصور   */
     
 }
 
.gridItem img{
     width: 300px;
     height: 200px;
    
 }
 /* try to cinter the item it self in the grid col */
 .gridItem{
     display: grid;
     justify-content: center;
     align-items: center;
     text-align: center;
  
     padding-top: 10px;
  
 }
#gridMain button{
    background-color: white;
    border: #2B3856;
    border-radius: 20px;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}

#gridMain button:hover{
background-color:black;
color: white;

}






#divContent p{
    color: aliceblue;


}
#footer{
    background-color:#151B54	;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
}
#footer p{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
#footer div{
    margin-left: 100%;

}    